/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500&family=Montserrat:wght@500&display=swap');

:root {
    --background: #181719;
    --fontColor: #FFFFFF;
}

body {
    background-color: var(--background);
}

.section {
    font-family: Crimson Pro;
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--fontColor);
    width: max-content;
    padding: 0.2rem;
    border: 1px solid var(--fontColor);
}

.nav {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--fontColor);
    text-decoration: none;
    margin-left: 3rem;
}

.text h1 {
    font-family: Lora;
    font-size: 48px;
    font-weight: 500;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--fontColor);
}

.text p {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--fontColor);
}

.text a {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--fontColor);
    text-decoration: none;
}

.designer h1 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--fontColor);
}

.designer h2 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--fontColor);
}

.designer p {
    font-family: Lora;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--fontColor);
}

.author {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--fontColor);
}

.topNav {
    float: right;
    position: relative;
    top: -2rem;
    width: max-content;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.content div {
    width: 50%;
}

.content img {
    width: 50%;
    height: 100%;
}